{% extends "base.html" %}
{% block title %}{{ 'Редактировать' if service else 'Добавить' }} услугу{% endblock %}
{% block content %}
<h2>{{ 'Редактировать' if service else 'Добавить' }} услугу</h2>
<form method="post">
    <label>Название:<br>
        <input type="text" name="name" value="{{ service.name if service else '' }}" required>
    </label><br><br>

<!--    <label>Цена:<br>-->
<!--        <input type="number" step="0.01" name="price" value="{{ service.price if service else '' }}" required>-->
<!--    </label><br><br>-->

    <label>Дата выполнения:<br>
<!--        <input type="date" name="execution_date" value="{{ service.execution_date if service else '' }}">-->

        <input type="date" name="execution_date" value="{{ service.execution_date }}">
    </label><br><br>

    <label>Описание:<br>
        <textarea name="description" rows="4">{{ service.description if service else '' }}</textarea>
    </label><br><br>

    <button type="submit">Сохранить</button>
</form>
{% endblock %}
