<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Автомастерская{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
<!--<header>-->

<!--<h1>Автомастерская "АвтоМастерПро"</h1>-->

<!--    <p>Добро пожаловать в систему управления заказами и клиентами автомастерской!</p>-->

<!--    <h3>Навигация по разделам:</h3>-->
<!--    <nav>-->
<!--        <a href="{{ url_for('index') }}">Главная</a> |-->
<!--        <a href="{{ url_for('clients') }}">Клиенты</a> |-->
<!--        <a href="{{ url_for('vehicles') }}">Автомобили</a> |-->
<!--        <a href="{{ url_for('services') }}">Услуги</a> |-->
<!--        <a href="{{ url_for('employees') }}">Сотрудники</a> |-->
<!--        <a href="{{ url_for('orders') }}">Заказы</a>-->
<!--    </nav>-->
<!--    <hr />-->

<!--</header>-->
<header style="display: flex; align-items: center; gap: 20px; padding: 10px;">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Логотип" style="height: 80px;" />

    <div>
        <h1 style="margin: 0;">Автомастерская "АвтоМастерПро"</h1>
        <p style="margin: 0;">Добро пожаловать в систему управления заказами и клиентами автомастерской!</p>

        <h3 style="margin-top: 10px;">Навигация по разделам:</h3>
        <nav>
            <a href="{{ url_for('index') }}">Главная</a> |
            <a href="{{ url_for('clients') }}">Клиенты</a> |
            <a href="{{ url_for('vehicles') }}">Автомобили</a> |
            <a href="{{ url_for('services') }}">Услуги</a> |
            <a href="{{ url_for('employees') }}">Сотрудники</a> |
            <a href="{{ url_for('orders') }}">Заказы</a>
        </nav>
    </div>
</header>
<hr />

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
